*.d.ts
*.js
node_modules
cdktf.out
cdktf.log
*terraform.*.tfstate*
.gen
.terraform
tsconfig.tsbuildinfo
credentials/
!jest.config.js
!setup.js
k8sVM*
cluster_config.yml
ip.json
kubeconfig.yaml
kubeconfig.yml
github_token.txt
.tool-versions
.envrc
env/
*kubeconfig.yaml
completions/
dictycontent.dmp
gke_gcloud_auth_plugin_cache
session/
share/
certs/
config.json
.aider*
kops/kops-cluster-creator
bin
iam-files/service-accounts
