# Stateful Database InstanceGroup
# Applied via: just gcp-cluster apply-instancegroups
# Variables: STATEFUL_MACHINE, STATEFUL_MIN, STATEFUL_MAX, NODE_ZONES
apiVersion: kops.k8s.io/v1alpha2
kind: InstanceGroup
metadata:
  name: stateful-db
  labels:
    kops.k8s.io/cluster: ${KOPS_CLUSTER_NAME}
spec:
  role: Node
  machineType: ${STATEFUL_MACHINE:-n2-standard-4}
  minSize: ${STATEFUL_MIN:-3}
  maxSize: ${STATEFUL_MAX:-3}
  rootVolumeSize: 100
  zones:
    - ${NODE_ZONE_A:-us-central1-a}
    - ${NODE_ZONE_B:-us-central1-b}
    - ${NODE_ZONE_C:-us-central1-c}
  nodeLabels:
    pool: database
